<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<table role="presentation"
		style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;height: auto">
		<tbody>
			<tr>
				<td align="center" style="padding:0">
					<table role="presentation"
						style="width:480px;border-collapse:collapse;border:1px solid #ffff;border-spacing:0;text-align:center;">

						<tbody>
							<tr>
								<td style="padding:36px 30px 42px 30px;text-align: center">
									<table role="presentation"
										style="width:100%;border-collapse:collapse;border:0;border-spacing:0;text-align: center">
										<tbody>
											<tr>
												<td style="padding:0 0 0px 0;color:#153643;text-align: center">
													<h1
														style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;color:#2A4372;">
														NUWY</h1>
													<p
														style="margin:30px 0;font-size:20px;line-height:24px;font-family:Arial,sans-serif;font-weight: 700">
														Remesa a realizar</p>


												</td>
											</tr>
											<tr>
												<td style="padding:0;text-align: start; ">

													<table role="presentation"
														style="width:100%;border-collapse:collapse;border:0;border-spacing:0;text-align: start;">

														<tbody>


															<tr>
																<td style="text-align: start;">
																	<p
																		style="font-size: 18px; font-weight: 700;color: #18305D">
																		Datos de la remesa</p>
																</td>
															</tr>
															<tr>
																<td
																	style="width:100%;padding:0;vertical-align:top;color:#18305D;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Pais: <span
																			style="color:#18305D;font-weight: 300; ">
																			{{receptor.countryName}} </span></p>


																</td>




															</tr>

															<tr>
																<td
																	style="width:100%;padding:0;vertical-align:top;color:#153643;text-align: start">
																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Monto depositado en CLP: <span
																			style="color:#18305D;font-weight: 300; ">$
																			{{emisor.value}} CLP</span></p>



																</td>



															</tr>
															<tr>



															</tr>

															<tr>
																<td
																	style="width:100%;padding:0;vertical-align:top;color:#153643;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Tipo de cambio: <span
																			style="color:#18305D;font-weight: 300; ">{{rate}}</span>
																	</p>



																</td>


															</tr>





															<tr>
																<td style="text-align: start;">
																	<p
																		style="font-size: 18px; font-weight: 700;color: #18305D">
																		Datos del emisor</p>
																</td>
															</tr>





															<tr>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Nombre: </p>



																</td>
																<td
																	style="padding:0 ;vertical-align:top;color:#153643;text-align: start;margin-right: 5rem">
																	<span
																		style=" margin:0 0 12px 0;font-size:14px;line-height:16px;font-family:Arial,sans-serif color:#18305D;font-weight: 300; ">{{DatosUsuario.name}}</span>
																</td>


															</tr>

															<tr>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		RUT: </p>



																</td>

																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">
																	<span
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 300;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		{{DatosUsuario.rut}}</span>
																</td>
															</tr>

															<tr>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Correo: </p>



																</td>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">
																	<span
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 300;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		{{DatosUsuario.email}}</span>
																</td>

															</tr>

															<tr>
																<td style="text-align: start;">
																	<p
																		style="font-size: 18px; font-weight: 700;color: #18305D">
																		Datos del banco receptor</p>
																</td>
															</tr>




															<tr>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Banco: </p>



																</td>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">
																	<span
																		style=" margin:0 0 12px 0;font-size:14px;line-height:16px;font-family:Arial,sans-serif color:#18305D;font-weight: 300; ">{{DatosReceptor.banco}}</span>
																</td>

															</tr>

															<tr>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Nº de cuenta: </p>



																</td>

																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">
																	<span
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 300;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		{{DatosReceptor.nCuenta}}</span>
																</td>
															</tr>

															<tr>
																<td
																	style="padding:0;vertical-align:top;color:#153643;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Tipo de cuenta: </p>



																</td>
																<td
																	style="padding:0;vertical-align:top;color:#153643;text-align: start">
																	<span
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 300;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		{{DatosReceptor.tipoCuenta}}</span>
																</td>


															</tr>


															<tr>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Nombre: </p>



																</td>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">
																	<span
																		style=" margin:0 0 12px 0;font-size:14px;line-height:16px;font-family:Arial,sans-serif color:#18305D;font-weight: 300; ">{{DatosReceptor.name}}</span>
																</td>

															</tr>

															<tr>
																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">

																	<p
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 700;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		Pasaporte - C.I - DNI: </p>



																</td>

																<td
																	style="width:;padding:0;vertical-align:top;color:#153643;text-align: start">
																	<span
																		style="margin:0 0 12px 0;font-size:14px;font-weight: 300;line-height:16px;font-family:Arial,sans-serif;color:#18305D;">
																		{{DatosReceptor.dni}}</span>
																</td>
															</tr>



														</tbody>
													</table>






												</td>



											</tr>


										</tbody>
									</table>
								</td>
							</tr>

						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>


</body>

</html>